/* font-family: 'Lato', sans-serif;
font-family: 'Raleway', sans-serif; */
body {
  font-family: 'Raleway', sans-serif;
  background: #45484d;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #45484d 0%, #000000 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #45484d 0%, #000000 100%);
  background: radial-gradient(ellipse at center, #45484d 0%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d', endColorstr='#000000', GradientType=1);
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}

.wer {
  color: rgb(243, 242, 242);
}
